/* Utilities. */
@font-face {
  font-family: "Yonkers";
  src: url("../assets/fonts/Yonkers/Yonkers.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gabriele";
  src: url("../assets/fonts/gabriele/gabriele-l.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gabriele";
  src: url("../assets/fonts/gabriele/gabriele-bad.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Erika Type";
  src: url("../assets/fonts/erica-type/Erika Type.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Erika Type";
  src: url("../assets/fonts/erica-type/Erika Type_B.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TeX Gyre Cursor";
  src: url("../assets/fonts/TeX-Gyre-Cursor/texgyrecursor-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TeX Gyre Cursor";
  src: url("../assets/fonts/TeX-Gyre-Cursor/texgyrecursor-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TeX Gyre Cursor";
  src: url("../assets/fonts/TeX-Gyre-Cursor/texgyrecursor-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TeX Gyre Cursor";
  src: url("../assets/fonts/TeX-Gyre-Cursor/texgyrecursor-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
:root {
  --etr-c-dark: #191813;
  --etr-c-dark-trans: rgba(25, 24, 19, 0.75);
  --etr-c-dark-trans-lt: rgba(25, 24, 19, 0.6);
  --etr-c-faint: #c9c7b8;
  --etr-c-beige: #b5b3a4;
  --etr-c-tan: #444444;
  --etr-c-white: #ffffff;
  --etr-c-black: #2d2b27;
  --etr-c-black-trans: rgba(0, 0, 0, 0.25);
  --etr-c-inputs: rgba(255, 252, 235, 0.38);
  --etr-c-link: rgb(229, 156, 178);
  --etr-c-link-shadow: rgb(213, 75, 116);
  --etr-c-checkbox-boom: #ba2385;
  --etr-c-checkbox-boom-checked: #f262c0;
  --etr-c-window-title: #eceada;
}

.theme-dark {
  --etr-c-dark: #c9c7b8;
  --etr-c-dark-trans: rgba(201, 199, 184, 0.75);
  --etr-c-dark-trans-lt: rgba(201, 199, 184, 0.6);
  --etr-c-faint: #0d0f17;
  --etr-c-beige: #444444;
  --etr-c-tan: #b5b3a4;
  --etr-c-white: #000000;
  --etr-c-black: #efe6d8;
  --etr-c-black-trans: rgba(255, 255, 255, 0.25);
  --etr-c-inputs: #302831;
  --etr-c-link: rgb(229, 156, 178);
  --etr-c-link-shadow: rgb(213, 75, 116);
  --etr-c-checkbox-boom: #9c5583;
  --etr-c-checkbox-boom-checked: #ee3aaf;
  --etr-c-window-title: #c9c7b8;
}

/* Global styles */
/* Utilities. */
.window-app {
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
}

.rollable:hover, .rollable:focus {
  color: var(--etr-c-link);
  text-shadow: 0 0 10px var(--etr-c-link-shadow);
  cursor: pointer;
}

.eat-the-reich.character .window-content {
  position: relative;
}
.eat-the-reich.character .window-content::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background-image: url("../assets/bg.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0 !important;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Chat */
/* Utilities. */
#chat-log .chat-message {
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
  color: var(--etr-c-dark);
  background: none;
  background-color: var(--etr-c-faint);
  border: 1px solid var(--etr-c-beige);
}
#chat-log .chat-message .message-header {
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
  color: var(--etr-c-dark);
}

.etr-roll .dice-tooltip .dice-rolls .roll.critical {
  color: var(--etr-c-white);
  filter: sepia(0.9) hue-rotate(300deg);
}
.etr-roll .dice-tooltip .dice-rolls .roll.success {
  color: var(--etr-c-white);
  filter: sepia(0.9) hue-rotate(60deg);
}
.etr-roll .dice-tooltip .dice-rolls .roll.discard {
  color: var(--etr-c-white);
}

/* Dialogs */
.dialog #etr-roll-dialog section.flexcol {
  gap: 20px;
}
.dialog .etr-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog .etr-form-group label {
  flex: 4;
  text-align: left;
  margin-right: 10px;
}
.dialog .etr-form-group input[type=number] {
  flex: 1;
  padding: 0 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}
.dialog .etr-form-group input[type=number]:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 4px #ccc;
}

/* Styles limited to eat-the-reich sheets */
/* Utilities. */
/* Utilities. */
/* Utilities. */
.eat-the-reich {
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
}
.eat-the-reich .check-label {
  display: flex;
  align-items: center;
}
.eat-the-reich button.icon i {
  margin: 0;
}
.eat-the-reich input[type=text],
.eat-the-reich input[type=number],
.eat-the-reich textarea,
.eat-the-reich .editor-content,
.eat-the-reich button {
  background: var(--etr-c-inputs);
  border: 1px solid var(--etr-c-black-trans);
}
.eat-the-reich input[type=text]:disabled,
.eat-the-reich input[type=number]:disabled,
.eat-the-reich textarea:disabled,
.eat-the-reich .editor-content:disabled,
.eat-the-reich button:disabled {
  opacity: 0.75;
}
.eat-the-reich textarea {
  min-height: 20px;
  padding: 0.5rem;
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
  user-select: text;
  resize: none;
  align-content: center;
  border: 1px solid var(--etr-c-black-trans);
}
.eat-the-reich input[type=checkbox]::before {
  color: var(--etr-c-dark-trans);
}
.eat-the-reich a:hover {
  color: var(--etr-c-link);
  text-shadow: 0 0 10px var(--etr-c-link-shadow);
}
.eat-the-reich .scrollable {
  overflow-y: auto;
}
.eat-the-reich h1, .eat-the-reich h2, .eat-the-reich h3, .eat-the-reich h4, .eat-the-reich h5, .eat-the-reich h6 {
  font-family: Arial, sans-serif;
  color: var(--etr-c-black);
  text-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
}
.eat-the-reich h1.window-title {
  color: var(--etr-c-window-title);
}
.eat-the-reich h1 {
  font-size: var(--font-size-48);
}
.eat-the-reich h2 {
  font-size: var(--font-size-20);
}
.eat-the-reich h3 {
  font-size: var(--font-size-20);
}
.eat-the-reich h4 {
  font-size: var(--font-size-18);
  font-weight: bold;
}
.eat-the-reich h1, .eat-the-reich h2, .eat-the-reich h3, .eat-the-reich h4 {
  margin: 1rem 0 0.5rem;
  border-bottom: 1px solid var(--etr-c-dark-trans);
}
.eat-the-reich h2, .eat-the-reich h3, .eat-the-reich h4 {
  padding-left: 10px;
  padding-bottom: 2px;
}
.eat-the-reich .item-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eat-the-reich .title_rotated {
  writing-mode: vertical-lr;
  border: none;
  border-left: 1px solid var(--etr-c-dark-trans);
  padding: 0;
  padding-left: 2px;
}
.eat-the-reich prose-mirror .editor-content,
.eat-the-reich .editor-container .editor-content {
  border-radius: 4px;
  padding: 0 10px;
}
.eat-the-reich .header-btn {
  padding: 0;
  width: fit-content;
}
.eat-the-reich .header-btn h4 {
  border: none;
  flex: 0 0 auto;
  background-color: var(--etr-c-dark-trans-lt);
  color: var(--etr-c-white);
  margin: 0;
  text-transform: uppercase;
  padding: 3px 4px 4px 4px;
  font-weight: bold;
  text-shadow: unset;
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
  font-weight: bold;
  white-space: nowrap;
}
.eat-the-reich header.sheet-header {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.eat-the-reich header.sheet-header .stat-group {
  flex: 0;
}
.eat-the-reich header.sheet-header .stat-group .stats .stat {
  display: grid;
  grid-column: span 4/span 4;
  grid-template-columns: 60px 40px 5px 40px;
  gap: 5px;
  margin: 1px 0;
  padding: 0;
  align-items: center;
  text-align: center;
}
.eat-the-reich header.sheet-header .stat-group .stats .stat .resource-label {
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
  font-weight: bold;
}
.eat-the-reich header.sheet-header .stat-group .stats .stat input[type=number] {
  height: 1.3rem;
  font-weight: bold;
}
.eat-the-reich header.sheet-header .header-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.eat-the-reich header.sheet-header .header-fields .document-name input[type=text] {
  margin: 0;
  width: 100%;
  font-size: var(--font-size-32);
  font-weight: bold;
  text-align: center;
  height: var(--font-size-48);
}
.eat-the-reich header.sheet-header .header-fields textarea {
  text-align: center;
  min-height: 152px;
  font-family: "Yonkers", serif;
  font-size: var(--font-size-16);
}
.eat-the-reich header.sheet-header .profile-img {
  flex: 0 0 175px;
  height: 210px;
  margin: 0;
  border: 2px solid var(--etr-c-beige);
  border-radius: 0px;
}
.eat-the-reich .body {
  display: flex;
  margin: 20px 0 0 5px;
  gap: 25px;
}
.eat-the-reich .body .sidebar {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  gap: 5px;
  margin-top: 10px;
  min-width: 35px;
  color: var(--etr-c-tan);
}
.eat-the-reich .body .sidebar .blood-step {
  display: flex;
  gap: 5px;
}
.eat-the-reich .body .sidebar input[type=checkbox] {
  margin: 0;
  padding: 0;
}
.eat-the-reich .body .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.eat-the-reich .body .main .injuries h5 {
  width: fit-content;
  margin: 0;
  align-items: center;
  text-transform: uppercase;
  color: var(--etr-c-white);
  background-color: var(--etr-c-dark-trans-lt);
  padding: 2px 4px;
  font-weight: bold;
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
}
.eat-the-reich .body .main .injuries .injury {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eat-the-reich .body .main .injuries .injury.severeInjury {
  flex-direction: column;
  gap: 2px;
}
.eat-the-reich .body .main .injuries .injury input[type=checkbox] {
  flex: 0;
}
.eat-the-reich .body .main .last-stand {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--etr-c-tan);
  padding-bottom: 2px;
}
.eat-the-reich .body .main .last-stand input[type=number] {
  width: 45px;
  text-align: center;
}
.eat-the-reich.npc header.sheet-header .profile-img {
  flex: 0 0 175px;
  height: 175px;
  margin: 0;
  border: 2px solid var(--etr-c-beige);
  border-radius: 0px;
}
.eat-the-reich.npc .threat-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.eat-the-reich.npc .threat-body .threat-attr {
  display: flex;
  gap: 10px;
}
.eat-the-reich.npc .threat-body .threat-attr input[type=number] {
  flex: 0;
  min-width: 40px;
  text-align: center;
}
.eat-the-reich.npc .threat-body .threat-attr button, .eat-the-reich.npc .threat-body .threat-attr label {
  width: 200px;
  text-align: center;
  align-content: center;
}
.eat-the-reich.npc .threat-body .threat-attr label {
  margin: 0 5px;
}
.eat-the-reich.location prose-mirror {
  min-height: 100px;
}
.eat-the-reich.location header.sheet-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.eat-the-reich.location header.sheet-header h1, .eat-the-reich.location header.sheet-header .location-header {
  width: 100%;
}
.eat-the-reich.location header.sheet-header h1 input {
  height: 48px;
  line-height: 48px;
  font-size: var(--font-size-32);
  font-weight: bold;
  text-align: center;
  margin: 0;
  width: 100%;
}
.eat-the-reich.location header.sheet-header .location-header {
  display: flex;
  gap: 10px;
}
.eat-the-reich.location header.sheet-header .location-header .profile-img {
  flex: 0 0 175px;
  height: 175px;
}
.eat-the-reich.location header.sheet-header .location-header .form-group {
  flex: 1;
  align-content: center;
}
.eat-the-reich.location header.sheet-header .location-header .form-group prose-mirror {
  min-height: 140px;
}
.eat-the-reich.location .location-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.eat-the-reich .clock-widget {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 0;
}
.eat-the-reich .clock-widget .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
  gap: 4px;
}
.eat-the-reich .clock-widget .boxes {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.eat-the-reich .clock-widget .boxes input[type=checkbox] {
  margin: 0 0 0 4px;
}
.eat-the-reich .clock-widget .boxes.uses input[type=checkbox]:not(:first-child:last-child):last-child::before {
  color: var(--etr-c-checkbox-boom);
}
.eat-the-reich .clock-widget .boxes.uses input[type=checkbox]:not(:first-child:last-child):last-child::after {
  color: var(--etr-c-checkbox-boom-checked);
}
.eat-the-reich .clock-widget .boxes.uses input[type=checkbox]:checked:not(:first-child:last-child):last-child::before {
  color: black;
}
.eat-the-reich .clock-widget .boxes.uses input[type=checkbox]:checked:not(:first-child:last-child):last-child::after {
  color: var(--etr-c-checkbox-boom-checked);
}
.eat-the-reich .clock-widget.clock-list-item {
  flex: 0 0 auto;
  max-width: 145px;
}
.eat-the-reich .clock-widget.clock-list-item .boxes {
  justify-content: flex-end;
}
.eat-the-reich .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--etr-c-dark);
}
.eat-the-reich .items-list .item-controls {
  display: flex;
  flex: 0;
  justify-content: flex-end;
}
.eat-the-reich .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.eat-the-reich .items-list .advance-selected {
  flex: 0;
}
.eat-the-reich .items-list .item {
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 4px;
  margin-bottom: 5px;
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
}
.eat-the-reich .items-list .item:last-child {
  margin-bottom: 0;
}
.eat-the-reich .items-list .item .item-info {
  flex: 1;
}
.eat-the-reich .items-list .item .item-info .item-name {
  font-family: "TeX Gyre Cursor", "Courier New", monospace;
  font-weight: bold;
}
.eat-the-reich .items-list .item .item-info .item-description,
.eat-the-reich .items-list .item .item-info .item-bonus {
  font-weight: normal;
}
.eat-the-reich .items-list .item .used {
  filter: brightness(70%);
}
.eat-the-reich.character .items-list .item .item-info .item-name {
  text-transform: uppercase;
  color: var(--etr-c-white);
  background-color: var(--etr-c-dark-trans-lt);
  padding: 0px 4px 2px 4px;
}

/*# sourceMappingURL=eat-the-reich.css.map */
