@use "../utils/colors" as *;
@use "../utils/typography" as *;

.etr-dialog {
	& {
		font-family: $font-primary;
	}

	.dialog-content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		textarea {
			width: 100%;
		}
	}

	.random-field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		button {
			flex: 1;
			padding: 5px 10px;
			align-items: center;

			i {
				margin: 0;
			}
		}
	}

	.form-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
		gap: 10px;

		button {
			flex: 1;
			padding: 5px 10px;
			font-size: 1rem;

			// &[type=submit] {
			// 	background-color: #6fffd617;
			// }

			// &[type=cancel] {
			// 	background-color: #ff727217;
			// }
		}
	}
}

.dialog {
	#etr-roll-dialog {
		section.flexcol {
			gap: 20px;
		}
	}

	.etr-form-group {
		display: flex;
		justify-content: space-between;
		align-items: center;

		label {
			flex: 4;
			text-align: left;
			margin-right: 10px;
		}

		input[type="number"] {
			flex: 1;
			padding: 0 10px;
			font-size: 1rem;
			border: 1px solid #ccc;
			border-radius: 4px;
			text-align: right;

			&:focus {
				outline: none;
				border-color: #007bff;
				box-shadow: 0 0 4px #ccc;
			}
		}
	}
}
