:root {
  --etr-c-dark: #191813;
  --etr-c-dark-trans: rgba(25, 24, 19, 0.75);
  --etr-c-dark-trans-lt: rgba(25, 24, 19, 0.6);
  --etr-c-faint: #c9c7b8;
  --etr-c-beige: #b5b3a4;
  --etr-c-tan: #444444;
  --etr-c-white: #ffffff;
  --etr-c-black: #2d2b27;
  --etr-c-black-trans: rgba(0, 0, 0, 0.25);
  --etr-c-inputs: rgba(255, 252, 235, 0.38);
  --etr-c-link:  rgb(229, 156, 178);
  --etr-c-link-shadow: rgb(213, 75, 116);
  --etr-c-checkbox-boom: #ba2385;
  --etr-c-checkbox-boom-checked: #f262c0;
  --etr-c-window-title: #eceada;
  --etr-c-dice-crit-filter: sepia(0.9) hue-rotate(320deg);
  --etr-c-dice-success-filter: sepia(0.9) hue-rotate(80deg);
}

.theme-dark {
  --etr-c-dark: #c9c7b8;
  --etr-c-dark-trans: rgba(201, 199, 184, 0.75);
  --etr-c-dark-trans-lt: rgba(201, 199, 184, 0.6);
  --etr-c-faint: #0d0f17;
  --etr-c-beige: #444444;
  --etr-c-tan: #b5b3a4;
  --etr-c-white: #000000;
  --etr-c-black: #efe6d8;
  --etr-c-black-trans: rgba(255, 255, 255, 0.25);
  --etr-c-inputs: #302831;
  --etr-c-link:  rgb(229, 156, 178);
  --etr-c-link-shadow: rgb(213, 75, 116);
  --etr-c-checkbox-boom: #9c5583;
  --etr-c-checkbox-boom-checked: #ee3aaf;
  --etr-c-window-title: #c9c7b8;
  --etr-c-dice-crit-filter: sepia(0.9) hue-rotate(320deg);
  --etr-c-dice-success-filter: sepia(0.9) hue-rotate(80deg);
}

$c-white: var(--etr-c-white);
$c-black: var(--etr-c-black);
$c-black-trans: var(--etr-c-black-trans);
$c-window-title: var(--etr-c-window-title);

$c-inputs: var(--etr-c-inputs);
$c-dark: var(--etr-c-dark);
$c-dark-trans: var(--etr-c-dark-trans);
$c-dark-trans-lt: var(--etr-c-dark-trans-lt);
$c-faint: var(--etr-c-faint);
$c-beige: var(--etr-c-beige);
$c-tan: var(--etr-c-tan);
$c-link: var(--etr-c-link);
$c-link-shadow: var(--etr-c-link-shadow);
$c-checkbox-boom: var(--etr-c-checkbox-boom);
$c-checkbox-boom-checked: var(--etr-c-checkbox-boom-checked);

$c-dice-crit-filter: var(--etr-c-dice-crit-filter);
$c-dice-success-filter: var(--etr-c-dice-success-filter);