@use '../utils/colors' as *;
@use '../utils/typography' as *;

#chat-log {
    .chat-message {
        .message-header {
            font-family: $font-primary;
            color: $c-dark;    
        }
        font-family: $font-primary;
        color: $c-dark;
        background: none;
        background-color: $c-faint;
        border: 1px solid $c-beige;
    }
}

.etr-roll {
    .dice-tooltip .dice-rolls .roll.critical {
        color: $c-white;
        filter: sepia(0.9) hue-rotate(300deg);
    }
    
    .dice-tooltip .dice-rolls .roll.success {
        color: $c-white;
        filter: sepia(0.9) hue-rotate(60deg);
    }
    
    .dice-tooltip .dice-rolls .roll.discard {
        color: $c-white;
        // text-decoration: line-through;
    }
}