@use '../utils/variables' as *;
@use '../utils/colors' as *;
@use '../utils/typography' as *;

.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: $c-link;
    text-shadow: 0 0 10px $c-link-shadow;
    cursor: pointer;
  }
}

.eat-the-reich.character  .window-content {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url("#{$asset-path}bg.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  }
}

// .eat-the-reich.location .window-content {
//   position: relative;

//   &::before {
//     content: '';
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     height: 100%;
//     background-image: linear-gradient(
//       #3f2607af, 
//       #170d01da
//     ), url("#{$asset-path}paper.webp");
//     background-size: cover cover;
//     background-position: top center;
//     opacity: 1;
//     z-index: -1;
//     pointer-events: none;
//   }
// }