<section class="description">
	{{formGroup
		systemFields.description.fields.value
		value=system.description.value
		enriched=enrichedDescription
		label=systemFields.description.label 
		toggled=true
		stacked=true
	}}
</section>