<header class="sheet-header">
	<div class="header-fields">
		{{formGroup
			fields.name
			name="name"
			value=item._source.name
			label=(localize "ETR.Item.name.label")
			classes="stacked"
			stacked=true
		}}
	</div>
</header>